################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebPortfolio/.vs/WebPortfolio/v16
/WebPortfolio/WebPortfolio/obj/Debug/net5.0
/WebPortfolio/WebPortfolio/obj
